{% extends "base.html" %}{% load static %}{%block content%}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
<script src="{%static 'js/home.js'%}" type="text/javascript"></script>
<nav class="home_nav">
  <a href="#maincode">Xpense</a>
  <a href="#whatis">What is Xpense?</a>
  <a href="#start">How to Start?</a>
  <a href="#foryou">What's in it for you?</a>
  <a href="#costs">Costs and price?</a>
  <a href="#team">Team</a>
</nav>
<div class="wrapper">
  <section id="maincode">
    <article>
      <h1>Xpense</h1>
      <p>Welcome to Xpense! Are you a home owner? A financial responsible person? Need some example on financial management? Awesome, you have found the right spot to make your dreams come true.</p>
      <p>Already excited and intersted to hear more? Nice, go on and scroll down.</p>
    </article>
  </section>
  <section id="whatis">
    <article>
      <h1>What is Xpense?</h1>
      <p>The Xpense projects goal is to be an open source platform for personal financial management and improvement by monitoring, sharing and discovering other peoples financial management plans. </p>
      <p>By comparing your situation of life and financial management you can read tips and learn how you can be a better financial manager of your own home and family</p>
    </article>
  </section>
  <section id="start">
    <article>
      <h1>How to start?</h1>
      <p>So firstly you can take a look at the global page where you can see all the public houses that are public and see their average expenses.</p>
      <p>you can also signup and fill your own data and keep up with your expenses.</p>
    </article>
  </section>
  <section id="foryou">
    <article>
      <h1>What's in it for you?</h1>
      <p>You can keep your expenses data and see the data presented with graphs by year and divided monthly, see global houses financial management filtered by your liking.</p>
      <p>in the tips section you can see tips posted on popular categories and post some of your own.</p>
    </article>
  </section>
  <section id="costs">
    <article>
      <h1>Costs and price?</h1>
      <p>Free as a bird.</p>
      <p>you can pay us in grades or job offering we accept no money.</p>
    </article>
  </section>
  <section id="team">
    <article>
      <h1>Team</h1>
      <p>You got the best minds and fierce developers ready to jump on any feature or bug presented :)</p>
      <p>Check their LinkedIn profiles for more</p>
      <p> <a href="https://www.linkedin.com/in/lior-keren-6939101b8/">Lior Keren</a>   <a href="https://www.linkedin.com/in/rony-yosef/">Rony Yosef</a>       <a href="https://www.linkedin.com/in/lior-shtaimberg-b75284a0/">Lior Shtaimberg</a>  <a href="https://www.linkedin.com/in/shelly-golden-424147240/">Shelly Golden</a>  <a href="https://www.linkedin.com/in/yoav-schwartz-0662991ba/">Yoav Schwartz</a>  <a href="https://www.linkedin.com/in/or-israel/">Or Israel</a></p>
    </article>
  </section>
</div>
{% endblock content %}
