[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.3"
tzdata = "==2022.1"
django-extensions = "==3.1.5"
factory_boy = "==3.2.1"
django-crispy-forms = "==1.14.0"
django-material = "*"

[dev-packages]
flake8 = "==4.0.1"
pytest-django = "==4.5.2"

[requires]
python_version = "3.9"
