{% extends "base.html" %}
{% load crispy_forms_filters %} {% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/accounts/login.css' %}"/>
    <div id="login">
        <div class="d-flex justify-content-center h-100">

        <div class="card">
            <div class="card-header">
                <h3>Login</h3>
            </div>
            <div class="card-body" style="color: rgb(0, 0, 0); background: rgba(252, 252, 252, 0.3); width: 500px;">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary mt-3" type="submit">Login</button>
                        <a class="btn btn-primary mt-3" href="{% url 'signup' %}">Sign Up</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
