{% load static %}

<script type="text/javascript" src="{% static 'js/random_colors.js' %}" ></script>
<script>
    $(document).ready(function () {
        window.randomColors = [{%for amount in amounts%} randomColor(),{%endfor%}];
        window.pie_chart = "right_chart"
        window.bar_chart = "left_chart"
    });
</script>

{{ categories|json_script:"categories" }}
{{ amounts|json_script:"amounts" }}

<script src="{%static 'js/pie_chart.js'%}" type="text/javascript"></script>   
<script src="{%static 'js/bar_chart.js'%}" type="text/javascript"></script>   

<body>
  <div>
    <div class="chart_card">
      <div class="chart_box">
        <canvas id="right_chart"></canvas>
      </div>
      <div class="chart_box">
        <canvas id="left_chart"></canvas>
      </div>
    </div>
  </div>
</body>
