{% block filter_form %} {% load static %}
<h3 class="text-center text-black pt-1">House Filter</h3>

<form
  method="post"
  id="HouseFilter"
  data-cities-url="{% url 'house:ajax_load_cities' %}"
  novalidate
>
  <table>
    <tr>
      {{ form.as_table }}
    </tr>
    <tr>
      <td>
        <button type="submit" class="btn btn-info btn-md">Submit</button>
      </td>
    </tr>
  </table>
  {% csrf_token %}
</form>

<script>
  const url = $("#HouseFilter").attr("data-cities-url");

  $(document).ready(function () {
    change_cities($("#id_country").val());
  });

  $("#id_country").change(function () {
    change_cities($(this).val());
  });

  function change_cities(countryId) {
    if (countryId === "") return;
    $.ajax({
      url: url,
      data: {
        country: countryId,
      },
      success: function (data) {
        var id = $("#id_city").val();
        $("#id_city").html(data);
        document.querySelector("#id_city").value = id;
      },
    });
  }
</script>

{% endblock %}
