th label {
  color: black;
  font-size: 0.9em;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

td input {
  height: 20%;
  text-align: center;
}

td select {
  height: 20%;
  display: block !important;
}

button {
  width: 50%;
  height: 30px;
  position: absolute;
  color: black;
  left: 25%;
}

button:hover {
  background-color: lightgrey;
}
