.table-container {
  height: 30%;
  width: 83%;
  overflow-x: hidden;
  text-align: justify;
  position: fixed;
  margin: auto;
  display: flex;
  justify-content: center;
  bottom: 0;
  right: 0;
  background-color: inherit;
}

.sidebar-container {
  height: 100%;
  z-index: -1;
  width: 17%;
  text-align: justify;
  position: fixed;
  margin: auto;
  display: flex;
  justify-content: center;
  bottom: 0;
  left:0;
  background-color: inherit;
}

.chart-container {
  text-align: justify;
  margin-top: 1.5em;
  width: 85%;
  position: fixed;
  right: 0;
  background-color: inherit;
}



/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
}
