.sidebar-container {
  height: 100%;
  z-index: -1;
  width: 17%;
  text-align: justify;
  position: fixed;
  margin: auto;
  display: flex;
  justify-content: center;
  bottom: 0;
  left:0;
  background-color: inherit;
}

.expenses_table-container {
    height: 30%;
    width: 83%;
    overflow-x: hidden;
    text-align: justify;
    position: fixed;
    margin: auto;
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 0;
    overflow-y:scroll;
}

.chart-container {
  text-align: justify;
  margin-top: 1.5em;
  width: 83%;
  position: fixed;
  right: 0;
  background-color: inherit;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
}

.mine-tool-bar {
  height: 8%;
  width: 83%;
  text-align: justify;
  position: fixed;
  margin: auto;
  display: flex;
  justify-content: space-between;
  bottom: 30%;
  right: 0;
  z-index: 9999;
}
