.house_table-container{
  height: 85%;
  width: 15%;
  overflow-x: hidden;
  position: fixed;
  margin: auto;
  display: flex;
  justify-content: center;
  bottom: 0;
  right: 85%;
  font-size: 15px;
  color: #fff;
  text-align: center;
}

.table th {
  text-align: center;
  color: black;
}

.htable tr {
  text-align: left;
  color: white;
}

.sidebar-container {
  height: 100%;
  z-index: -1;
  width: 15%;
  text-align: justify;
  position: fixed;
  margin: auto;
  display: flex;
  justify-content: center;
  bottom: 0;
}

.sidebar {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.house_table_title {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 10px;
  position: absolute;
}

.expenses_table-container {
    height: 30%;
    width: 85%;
    overflow-x: hidden;
    text-align: justify;
    position: fixed;
    margin: auto;
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 0;
    overflow-y:scroll;
}


body{
  overflow: hidden;
}


.btn-primary{
  background-color: #04AA6D; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 12%; /* Set a width if needed */
  position: fixed;
  left: 87%;
  display: block; /* Make the buttons appear below each other */
  bottom: 32%;
  margin: 0;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
}
