{% load static %}

<script type="text/javascript" src="{% static 'js/random_colors.js' %}" ></script>
<script src="{%static 'js/pie_chart.js'%}" type="text/javascript"></script>
<script src="{%static 'js/bar_chart.js'%}" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        var randomColors = [{%for amount in amounts%} randomColor(),{%endfor%}];
        var categories = [{%for category in categories%}'{{category}}',{%endfor%}];
        var amounts = [{%for amount in amounts%}'{{amount}}',{%endfor%}];
        create_pie_chart(categories, amounts,"Expense Amount Per Month",randomColors, "left_chart");
        create_bar_chart(categories, amounts,"Expense Amount Per Month",randomColors, "right_chart");
    });
</script>


<body>
  <div>
    <div class="chart_card">
      <div class="chart_box">
        <canvas id="left_chart"></canvas>
      </div>
      <div class="chart_box">
        <canvas id="right_chart"></canvas>
      </div>
    </div>
  </div>
</body>
